/* עיצוב הכרטיס */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../p/11.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.card {
  opacity: 1;
  background-color: rgba(119, 105, 141, 0.45);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  color: rgb(232, 230, 233);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  transform: rotate(25deg);
  pointer-events: none;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fbf9f1;
  text-align: right;
  /* margin-bottom: 20px; */
}

.chip {
  margin-bottom: 20px;
}

.number-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;
}

.block {
  display: flex;
  gap: 6px;
}

span {
  display: inline-block;
  width: 16px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}

span input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  color: white;
  caret-color: white;
  font-family: monospace;
  letter-spacing: 1px;
}

.name-field {
  display: flex;
  gap: 120px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.name-field input {
  width: 48%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  caret-color: rgb(255, 255, 255);
  font-family: monospace;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.valid-thru-label {
  text-align: right;
  font-size: 12px;
  opacity: 0.7;
  margin-top: 10px;
}

.expiry-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 2px;
}

.expiry-fields input {
  width: 40px;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  caret-color: white;
  font-family: monospace;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.expiry-fields span {
  font-size: 18px;
  color: white;
  border: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: white;
}
/*  עיצוב כפתור השליחהר */
.button {
  margin-top: 30px;
  border-radius: 3px;
  transition: 0.2s linear;
  background: #92879b;
  height: 60px;
  width: 180px;
  overflow: hidden;
  position: relative;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #fbf9f1;
}
.button:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(0);
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  content: "";
  border-radius: 10;
}
.button:hover {
  cursor: pointer;
}
.button:hover span {
  transform: translateX(0);
}
.button:not(:active) {
  background: #92879b;
}
.button:not(:active):after {
  animation: ripple 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.left {
  float: left;
}

.button span {
  transform: translateX(-180px);
  transition: transform 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 60px;
  flex-basis: 180px;
  min-width: 180px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#toast {
  position: absolute;
  bottom: 20px;
  transform: translateY(15vh);
  transition: transform 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(4);
  }
}
