# קבצי macOS
.DS_Store

# תיקיית תלויות של Node.js
node_modules/

# תיקיית Build/dist
/dist
/build

# קבצי הגדרות סביבה
.env
.env.*

# קבצי לוג
npm-debug.log*
yarn-error.log*

# קבצי קונפיגורציה של עורך קוד
.vscode/
.idea/